<h2>About Page</h2>
<h3>Biography</h3>

<p>Hey everybody!  Nick Greathouse here!  I've played with instrumental guitar legend, Neil Zaza, since 2006 and I even appear on his double live album "Neil Zaza's One Silent Night: A Night at The Palace". I have been teaching guitar since 1999, and I currently teach at my own studio "The Rockstar Guitar Academy" in Louisville, OH.</p>

<h4>Occupation</h4>
<p>Guitar Instructor at Jamplay
Cleveland/Akron, Ohio AreaMusic
Current
Woodsy's Music, Jamplay
Previous
The Rockstar Guitar Academy, NYC Guitar School
Education
Cleveland State University</p>

<h4>Experience</h4>
<p>
Guitar Instructor/Customer Service
Woodsy's Music
June 2013 – Present (7 months)
Guitar Instructor
Jamplay
April 2008 – Present (5 years 9 months)
Owner/Operator
The Rockstar Guitar Academy
September 2011 – May 2013 (1 year 9 months)
Guitar instructor
NYC Guitar School
October 2009 – July 2011 (1 year 10 months)</p>

<h4>Education</h4>
<p>
Cleveland State University
2013 – 2015 (expected)

Kent State University
BA, Music
1999 – 2008</p>




