<h2>Music Page</h2>
<h3>Albums</h3>

<div class="row">
  <div class="col-md-4">
    <img src="/assets/silent_album_art.png">
  </div>
  <div class="col-md-4">
    <table>
      <thead>
        <tr>
          <th>Tracks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1. Carol of the Bells</td>
        </tr>
        <tr>
          <td>2. Joy to the World</td>
        </tr>
        <tr>
          <td>3. Do You Hear What I Hear</td>
        </tr>
        <tr>
          <td>4. Oh Holy Night</td>
        </tr>
        <tr>
          <td>5. O Come, All Ye Faithful</td>
        </tr>
        <tr>
          <td>6. Jesu, the Joy of Man's Desiring</td>
        </tr>
        <tr>
          <td>7. The First Noel</td>
        </tr>
        <tr>
          <td>8. Little Drummer Boy</td>
        </tr>
        <tr>
          <td>9. O Come, O Come Emmanuel</td>
        </tr>
        <tr>
          <td>10. Have Yourself a Merry Little Christmas</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
